.login {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin: 12px;
  &-title {
    text-align: center;
  }
  &__input {
    max-width: 560px;
    input {
      outline: none;
      padding: 5px 10px;
      border: 1px solid var(--dark-gray-color);
      border-radius: 4px;
      font-size: 16px;
    }
  }
  &__button {
    padding: 5px 12px;
    border-radius: 4px;
    text-transform: none;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--dark-gray-color);
  }
  &-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .login {
    &__button {
      width: 100%;
      cursor: pointer;
    }
    &-action {
      width: 100%;
    }
  }
}