:root {
  --max-width: 1536px;
  --header-height: 65px;
  --footer-height: 180px;

  --white-color: #f8f8f8;
  --white-color-secondary: #eaeaea;
  --base-color: #808787;
  --light-gray-color: #373b40;
  --gray-color: #2f3137;
  --gray-color-secondary: #505050;
  --gray-color-third: #5f6163;
  --dark-gray-color: #1e2021;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-size: 20px;
  background-color: var(--light-gray-color);
  color: var(--base-color);
  > div#__nuxt {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
